<ion-header>
  <ion-navbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <table *ngIf="users">
    <thead>
      <tr>
        <td>Nombre</td>
        <td>Apellido</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td class="td-name">{{ user.nombreusuario }}</td>
        <td class="td-latname">{{ user.apellido }}</td>
      </tr>
    </tbody>
  </table>
  <button ion-button block (click)="openLogin()">
    Consultar
  </button>
</ion-content>
